@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?kkdekj');
  src: url('../../fonts/icomoon.eot?kkdekj#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?kkdekj') format('truetype'),
    url('../../fonts/icomoon.woff?kkdekj') format('woff'),
    url('../../fonts/icomoon.svg?kkdekj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-1:before {
  content: "\e960";
}

.icon-Download:before {
  content: "\e961";
  color: #fff;
}

.icon-Heart .path1:before {
  content: "\e952";
  color: rgb(254, 178, 36);
}

.icon-Heart .path2:before {
  content: "\e953";
  margin-left: -3.14453125em;
  color: rgb(254, 178, 36);
}

.icon-Heart .path3:before {
  content: "\e954";
  margin-left: -3.14453125em;
  color: rgb(255, 255, 255);
}

.icon-Location .path1:before {
  content: "\e955";
  color: rgb(64, 59, 191);
}

.icon-Location .path2:before {
  content: "\e956";
  margin-left: -0.7294921875em;
  color: rgb(255, 255, 255);
}

.icon-Location .path3:before {
  content: "\e957";
  margin-left: -0.7294921875em;
  color: rgb(254, 178, 36);
}

.icon-Call .path1:before {
  content: "\e958";
  color: rgb(255, 255, 255);
}

.icon-Call .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(64, 59, 191);
}

.icon-Call .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(254, 178, 36);
}

.icon-Call .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(64, 59, 191);
}

.icon-Call .path5:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(64, 59, 191);
}

.icon-Call .path6:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(64, 59, 191);
}

.icon-mail .path1:before {
  content: "\e95e";
  color: rgb(64, 59, 191);
}

.icon-mail .path2:before {
  content: "\e95f";
  margin-left: -1.453125em;
  color: rgb(254, 178, 36);
}

.icon-time-left-01:before {
  content: "\e912";
  color: #f33535;
}

.icon-check-2-01:before {
  content: "\e94b";
  color: #2daa2b;
}

.icon-facebook-new:before {
  content: "\e90a";
  color: #1976d2;
}

.icon-icons8-instagram-logo1 .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}

.icon-icons8-instagram-logo1 .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-icons8-instagram-logo1 .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icons8-instagram-logo1 .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icons8-instagram-logo1 .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-youtube1:before {
  content: "\e951";
  color: #f00;
}

.icon-Add:before {
  content: "\e900";
}

.icon-Arrow-up:before {
  content: "\e901";
}

.icon-arrow:before {
  content: "\e902";
}

.icon-Bell:before {
  content: "\e903";
}

.icon-Calender:before {
  content: "\e904";
}

.icon-Campaign:before {
  content: "\e905";
}

.icon-Cancel:before {
  content: "\e906";
  color: #f33535;
}

.icon-checked-01:before {
  content: "\e907";
}

.icon-Dashboard:before {
  content: "\e908";
}

.icon-Dots:before {
  content: "\e909";
}

.icon-Group-1:before {
  content: "\e90b";
}

.icon-Group-12335:before {
  content: "\e90c";
}

.icon-Icon-awesome-twitter:before {
  content: "\e90d";
}

.icon-Icon-feather-check:before {
  content: "\e90e";
}

.icon-Icon-feather-facebook:before {
  content: "\e90f";
}

.icon-Icon-feather-linkedin:before {
  content: "\e910";
}

.icon-Icon-ionic-logo-instagram:before {
  content: "\e911";
}

.icon-Level:before {
  content: "\e913";
}

.icon-list:before {
  content: "\e914";
}

.icon-Path-4:before {
  content: "\e915";
  color: #009eff;
}

.icon-Path-14:before {
  content: "\e916";
  color: #3776f6;
}

.icon-Path-14926:before {
  content: "\e917";
  color: #0077b5;
}

.icon-Path-14928:before {
  content: "\e918";
  color: #1da1f2;
}

.icon-Path-14929:before {
  content: "\e919";
  color: #fffc00;
}

.icon-Path-37434:before {
  content: "\e91a";
  color: #109ce5;
}

.icon-phone-call-01:before {
  content: "\e91b";
}

.icon-play-circle-icon:before {
  content: "\e91c";
}

.icon-Profile:before {
  content: "\e91d";
}

.icon-Rupee:before {
  content: "\e91e";
}

.icon-Select:before {
  content: "\e91f";
}

.icon-Star:before {
  content: "\e920";
}

.icon-UnSelect:before {
  content: "\e921";
}

.icon-upload:before {
  content: "\e922";
}

.icon-user-4-01:before {
  content: "\e923";
}

.icon-Wallet:before {
  content: "\e924";
}

.icon-Watch:before {
  content: "\e925";
}

.icon-Wishlist:before {
  content: "\e926";
}

.icon-Wrong:before {
  content: "\e927";
}

.icon-finding-love-concept-01 .path1:before {
  content: "\e928";
  color: rgb(254, 178, 36);
}

.icon-finding-love-concept-01 .path2:before {
  content: "\e929";
  margin-left: -1.0732421875em;
  color: rgb(255, 255, 255);
}

.icon-finding-love-concept-01 .path3:before {
  content: "\e92a";
  margin-left: -1.0732421875em;
  color: rgb(255, 255, 255);
}

.icon-finding-love-concept-01 .path4:before {
  content: "\e92b";
  margin-left: -1.0732421875em;
  color: rgb(255, 255, 255);
}

.icon-finding-love-concept-01 .path5:before {
  content: "\e92c";
  margin-left: -1.0732421875em;
  color: rgb(255, 255, 255);
  opacity: 0.31;
}

.icon-Group-12892 .path1:before {
  content: "\e92d";
  color: rgb(255, 255, 255);
}

.icon-Group-12892 .path2:before {
  content: "\e92e";
  margin-left: -0.806640625em;
  color: none;
}

.icon-Group-12892 .path3:before {
  content: "\e92f";
  margin-left: -0.806640625em;
  color: none;
}

.icon-Group-12892 .path4:before {
  content: "\e930";
  margin-left: -0.806640625em;
  color: none;
}

.icon-Group-12892 .path5:before {
  content: "\e931";
  margin-left: -0.806640625em;
  color: rgb(254, 178, 36);
}

.icon-Group-13171 .path1:before {
  content: "\e932";
  color: rgb(97, 93, 236);
}

.icon-Group-13171 .path2:before {
  content: "\e933";
  margin-left: -2em;
  color: rgb(78, 73, 220);
}

.icon-Group-13171 .path3:before {
  content: "\e934";
  margin-left: -2em;
  color: rgb(88, 83, 236);
}

.icon-Group-13171 .path4:before {
  content: "\e935";
  margin-left: -2em;
  color: rgb(64, 59, 191);
}

.icon-Icon-awesome-twitter-01:before {
  content: "\e936";
  color: #1da1f2;
}

.icon-icons8-instagram-logo .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}

.icon-icons8-instagram-logo .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-icons8-instagram-logo .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icons8-instagram-logo .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icons8-instagram-logo .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path1:before {
  content: "\e93c";
  color: rgb(255, 255, 255);
}

.icon-network-01 .path2:before {
  content: "\e93d";
  margin-left: -1.23046875em;
  color: rgb(254, 178, 36);
}

.icon-network-01 .path3:before {
  content: "\e93e";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path4:before {
  content: "\e93f";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path5:before {
  content: "\e940";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path6:before {
  content: "\e941";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path7:before {
  content: "\e942";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path8:before {
  content: "\e943";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-network-01 .path9:before {
  content: "\e944";
  margin-left: -1.23046875em;
  color: rgb(255, 255, 255);
}

.icon-profit-report-01 .path1:before {
  content: "\e945";
  color: rgb(255, 255, 255);
}

.icon-profit-report-01 .path2:before {
  content: "\e946";
  margin-left: -0.75em;
  color: rgb(254, 178, 36);
}

.icon-profit-report-01 .path3:before {
  content: "\e947";
  margin-left: -0.75em;
  color: rgb(254, 178, 36);
}

.icon-profit-report-01 .path4:before {
  content: "\e948";
  margin-left: -0.75em;
  color: rgb(254, 178, 36);
}

.icon-profit-report-01 .path5:before {
  content: "\e949";
  margin-left: -0.75em;
  color: rgb(255, 255, 255);
}

.icon-Wave:before {
  content: "\e94a";
  color: #403bbf;
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-pinterest:before {
  content: "\ead1";
}

.icon-reload:before {
  content: "\e962";
}

.icon-group:before {
  content: "\e963";
}