.lyt-section {
    &.typ-contact {
        position: relative;

        &::before {
            content: "";
            background-color: $clr-theme;
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 50%;
        }

    }
}

@media only screen and (max-width:767px) {
    .lyt-section {
        &.typ-contact {
            position: relative;

            &::before {
                content: "";
                background-color: $clr-theme;
                position: absolute;
                left: 0;
                top: 0;
                height: auto;
                min-height: 530px;
                width: 100%;
            }

        }
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .contact-us {
        margin: 208px 0px 0px 0px;
    }
}

@media only screen and (max-width:834px) {
    .contact-us {
        margin: 262px 0px 0px 0px;
    }
}

@media only screen and (max-width: $desktop-breakpoint) {
    .contact-us {
        margin: 180px 0px 0px 0px;
        height: 20vh;
    }

    .lyt-section-dash {
        .lyt-head {
            width: 100%;
        }

        .adminDash {
            width: 200%;
        }

        .wishDash {
            margin-left: 70px;
        }

    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-section-dash {
        .small_header {
            width: 20%;
        }

        .card_section {
            padding: 0;
        }

        .stepper_section {
            width: 85% !important;
        }

        .typ-fullcard {
            padding-left: 0px !important;
        }


        .lyt-head {
            width: 88%;
            margin-left: 15%;
        }

        .typ-campaigndetail {
            margin-left: 40px;
            margin-right: -23px;
        }

        .btn_sec {
            margin-left: 40px;
        }
    }
}


@media only screen and (max-width: $tablet-breakpoint) {
    .lyt-section-dash {
        .lyt-head {
            width: 88%;
        }

        .text_sec {
            font-size: 12px;
            line-height: 20px;
        }

        .select_sec {
            padding: 10px 10px;
        }

        .campaign_body {
            width: 200%;
        }

        .stepper_sections {
            width: 60%;
        }

        .typ-campaign {
            padding-left: 2%;
        }

        .date_section {
            margin-left: 50px;
        }

        .typ-fullcard {
            padding-left: 40px;
        }

        .stepper_section {
            width: 60%;
        }

        .small_header {
            width: 10%;
        }
    }
}