@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


$clr-theme:#403BBF;
// $clr-default:#151515;
// $clr-gray: #9B9B9B;
// $clr-base: #424242;
// $clr-dark: #262626;

/* font weight */

// $font-regular:400;
// $font-medium:500;
// $font-semibold:600;
// $font-bold:700;

$fnt1:'Montserrat', sans-serif;
$fnt2:'Yeseva One', sans-serif;
$fnt3:'Poppins', sans-serif;

/* breakpoints */

$mobile-breakpoint: 768px;
$tablet-breakpoint:992px;
$desktop-breakpoint:1024px;
$lgdesktop-breakpoint:1600px;