body {
    font-family: $fnt1;
    font-size: 14px;
    // color: $clr-default;
}

a {
    transition: 0.2s;
    transition: all 0.2s ease;
    color: $clr-theme;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    display: block;
}

.cm-not-in-page {
    left: -99999px;
    position: absolute;
    top: -99999px;
}

.cm-dot {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-gray {
    background-color: #f7f7fd;
}

.bg-blue {
    background-color: $clr-theme;
}

.text-bg-darkgray {
    color: #262525;
}

.fnt-yeseva {
    font-family: $fnt2;
}

.bg-blue-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#787dff+0,403bbf+50,403bbf+51,403bbf+100 */
    background: #787dff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #787dff 0%, #403bbf 50%, #403bbf 51%, #403bbf 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #787dff 0%, #403bbf 50%, #403bbf 51%, #403bbf 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #787dff 0%, #403bbf 50%, #403bbf 51%, #403bbf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg-gray-gradient {
    background: linear-gradient(to bottom, rgb(228 228 243 / 12%) 0%, #ddddde 100%);
    //    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4e4f3+0,e4e4f3+100&0+0,1+100 */
    // background: -moz-linear-gradient(top, rgba(228,228,243,0) 0%, rgba(228,228,243,1) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(228,228,243,0) 0%,rgba(228,228,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(228,228,243,0) 0%,rgba(228,228,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.sticky-name {
    background-color: rgba(202, 189, 189, 0.40);
    // background: filter(blur);
    border-radius: 18px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px
}

.headingwithunderline {
    &::after {
        content: "";
        width: 117px;
        height: 2px;
        background-color: #403BBF;
        display: block;
        margin-top: 2px;
    }
}

.contact-title {
    font-size: 40px;
    padding-right: 10px;
}

input[type='checkbox']:focus,
[type='radio']:focus {
    box-shadow: none;
}

.bx-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.instagram-logo {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.cm-grey {
    color: #00000099;
}

.border-bottom {
    border-bottom: 1px solid #cecece94;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 20 !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

input[type='checkbox'],
[type='radio'] {
    color: #403BBF !important;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .sticky-name {
        width: 48%;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .sticky-name {
        width: 45%;
    }
}