.middle-round{
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    margin-top: -15px;
    .clr-cirlce{
        font-size: 14rem;
    }
    .middle-text{
        position: absolute;
        bottom: -86px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 120px;
        width: 210px;
        border-radius: 150px 150px 0 0;
        background-color: #ffffff;
        h2{
            font-family: $fnt2;
        }
        .verticle-lines{
            border-left: 10px solid white;
            height: 133%;
            position: absolute;
            top: -95px;
            left: -10px;
            transform: rotate(-45deg);
            &.two{
                left: 99px;
                transform: rotate(0);
                top: -130px;
            }
            &.three{
                top: 146px;
                right: -567px;
                left: inherit;
                transform: rotate(45deg);
            }
        }
        
    }
    .steps-indicator{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #ffffff;
        border-radius: 50%;
        .clr-rund{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 13px;
            background-color: $clr-theme;
            border: 8px solid #ffffff;
            width: 94px;
            height: 94px;
            border-radius: 50%;
            box-shadow: 0px 0px 26px 0px rgba(172,194,212,0.75);
            -webkit-box-shadow: 0px 0px 26px 0px rgba(172,194,212,0.75);
            -moz-box-shadow: 0px 0px 26px 0px rgba(172,194,212,0.75);
        }
        &.step-one{
            top: 78px;
            left: -48px;
            .arrw-one{
                position: absolute;
                top: 5%;
                left: -42px;
                width: 50px;
            }
        }
        &.step-two{
            top: -41px;
            left: 79px;
            .arrw-two{
                position: absolute;
                top: -26px;
                left: -16px;
                transform: rotate(40deg);
                width: 50px;
            }
        }
        &.step-three{
            right: 78px;
            top: -43px;
            .arrw-three{
                position: absolute;
                top: -35px;
                right: 0;
                transform: rotate(90deg);
                width: 50px;
            }
        }
        &.step-four{
            right: -30px;
            bottom: 19px;
            .arrw-four{
                position: absolute;
                top: 0;
                right: -40px;
                transform: rotate(127deg);
                width: 50px;
            }
        }

    }
}




@media only screen and (max-width:$mobile-breakpoint) {
    .middle-round{
        display: none;
    }
}