.bs-header {
    a {
        font-family: $fnt3 ;
    }

    .nav-link-bx {
        a {
            &:hover {
                color: $clr-theme;
            }

            &.typ-login {
                &:hover {
                    color: #fff;
                }
            }
        }

        .active {
            a {
                color: $clr-theme;
                font-weight: 600;
            }
        }
    }
}

.innerpages {
    .bs-header {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-header {
        .header_space {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media only screen and (max-width:$tablet-breakpoint) {
    .bs-header {
        .nav-link-bx {
            background-color: $clr-theme;
        }
    }
}