.bs-titlebx {
    h1 {
        position: relative;
        font-family: $fnt1;
        font-size: 50px;
    }

    h2 {
        position: relative;
        font-family: $fnt2;
        font-size: 34px;

        &.bnnr-txt {
            font-size: 40px;
        }

        span {
            color: $clr-theme;
        }

        &.slide-heading {
            padding-top: 20px;

            &::before {
                content: "\e90c";
                position: absolute;
                right: 5%;
                font-family: 'icomoon' !important;
                color: #FEB224;
                top: 0;
            }
        }
    }

    h3 {
        position: relative;
        font-family: $fnt2;
        font-size: 34px;

        &.bnnr-txt {
            font-size: 37px;
        }
    }

    p {
        color: rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-titlebx {
        h2 {
            font-size: 28px;
        }
    }

}