.bs-sidebar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px;
    .notification-bx{
        max-height: 500px;
    }
    .left-sidenav{
        background-color: #272323;
        .links{
            color: rgba(255,255,255,0.6);
            border-radius: 5px;
            &:hover{
                background-color: $clr-theme;
                color: rgba(255,255,255,1);
            }
        }
        .active{
            .links{
                background-color: $clr-theme;
                color: rgba(255,255,255,1);
            }
     
        }
    }
}
.profile-dropdwn{
    min-width: 240px;
}

