.bs-tab{
    ul{
        border: 1px solid rgba(64, 59, 191,0.27);
        border-radius: 22px; 
        .react-tabs__tab--selected{
            background-color: $clr-theme;
            color: #ffffff;
            border-radius: 22px; 
        }
    }
    &.typ-campaign{
        ul{
            border: none;
            border-bottom: 1px solid rgba(64, 59, 191,0.27);
            border-radius: 0;
            &.campaign2{
                border: none;
                li{
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgba(64, 59, 191,0.27);
                    min-width: 80px;
                }
            }
            li{
                color: rgba(0,0,0,0.6);
                font-weight: 500;
            }
            .react-tabs__tab--selected{
                background-color: transparent;
                color: $clr-theme;
                border-radius: 0; 
                font-weight: 600;
                border-bottom: 1px solid $clr-theme;
            }
        }
    }
}

