.bs-footer {
    position: relative;
    padding-top: 102px;
    &::before {
        font-family: icomoon;
        content: "\e94a";
        color: #f7f7fd;
        display: block;
        position: absolute;
        left: 0;
        top: -67px;
        font-size: 10vw;
        height: auto;
    }
    .main-footer{
        a{
            color: #262525;
        }
    }
    .copyrights{
        .devlp-by{
            cursor: pointer;
            a{
                color:#37C1F0 ;
                margin-left: 2px;
                span{
                    color: #B2CC6A;
                }
            }
        }
    }
}
.contact-us{
    .bs-footer{
        padding-top: 68px;
        &::before{
            top: -99px;
        }
    }
}
@media only screen and (min-width:$lgdesktop-breakpoint) {
    .bs-footer{
        padding-top: 100px;
        &::before{
            top: -120px;
        }
    }
  
}
@media only screen and (min-width:1600px) and (max-width:1919px) {
    .bs-footer{
        padding-top: 70px;
        &::before{
            top: -120px;
        }
    }
  
}
@media only screen and (max-width:$desktop-breakpoint) {
    .bs-footer{
        padding-top: 0;
        &::before{
            top: -102px;
        }
    }
    .contact-us{
        .bs-footer{
            padding-top: 25px;
            &::before{
                top: -99px;
            }
        }
    }
}

@media only screen and (max-width:$tablet-breakpoint) {
    .bs-footer{
        padding-top: 0;
        &::before{
            top: -87px;
        }
    }
    .contact-us{
        .bs-footer{
            padding-top: 0;
            &::before{
                top: -94px;
            }
        }
    }
}
@media only screen and (max-width:767px) {
    .bs-footer{
        padding-top: 0;
        &::before{
            top: -38px;
        }
    }
}