.bs-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border-radius: 35px;
    max-width: 528px;

    &.typ-fullcard {
        .interested {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: rgba(0, 0, 0, 20%);
            }

            .icon {
                font-size: 12px;
                color: #403BBF;
                border-radius: 3px;
                padding: 4px;
                border: 2px solid transparent;
            }
        }

        .not-interested {
            .icon {
                font-size: 12px;
                color: #C21F1F;
                border-radius: 3px;
                padding: 4px;
                border: 2px solid transparent;
            }
        }

        max-width: 100%;

        .active-interested {
            .interested {
                .icon {
                    color: #ffffff;
                    background-color: #403BBF;
                    padding: 4px;
                    border: 2px solid #C8C8D5;
                }
            }
        }

        .active-not-interested {
            .not-interested {
                .icon {
                    color: #ffffff;
                    background-color: #C21F1F;
                    padding: 4px;
                    border: 2px solid #C8C8D5;
                }
            }
        }
    }

    &.typ-Dashboard {
        background-color: #ffffff;
        padding: 15px;
        border-radius: 7px;
    }

    &.typ-campaign {
        background-color: #ffffff;
        padding: 100px;
        border-radius: 7px;
    }

    &.clr-cards {
        box-shadow: none;
        border: 2px solid #ffffff;
        padding: 20px;
        border-radius: 20px;

        &.typ-one {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,d4d3e6+100&0+0,0.65+100 */
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(212, 211, 230, 0.65) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(212, 211, 230, 0.65) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(212, 211, 230, 0.65) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &.typ-two {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,c89028+100&0+0,0.65+100 */
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(200, 144, 40, 0.4) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(200, 144, 40, 0.4) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(200, 144, 40, 0.4) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &.typ-three {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,d1f0ca+100&0+0,0.65+100 */
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(209, 240, 202, 0.65) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(209, 240, 202, 0.65) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(209, 240, 202, 0.65) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &.typ-four {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,efcccc+100&0+0,0.65+100 */
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(239, 204, 204, 0.65) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(239, 204, 204, 0.65) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(239, 204, 204, 0.65) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &.typ-five {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,b9eff4+100&0+0,0.65+100 */
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(185, 239, 244, 0.65) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(185, 239, 244, 0.65) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(185, 239, 244, 0.65) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        &.typ-wallet {
            box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 10px;
            border: none;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4f4f6+1,d8d7ed+50,d8d7ed+51,d8d7ed+100 */
            background: rgb(244, 244, 246);
            /* Old browsers */
            background: -moz-linear-gradient(left, rgba(244, 244, 246, 1) 1%, rgba(216, 215, 237, 1) 50%, rgba(216, 215, 237, 1) 51%, rgba(216, 215, 237, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(244, 244, 246, 1) 1%, rgba(216, 215, 237, 1) 50%, rgba(216, 215, 237, 1) 51%, rgba(216, 215, 237, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(244, 244, 246, 1) 1%, rgba(216, 215, 237, 1) 50%, rgba(216, 215, 237, 1) 51%, rgba(216, 215, 237, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }

    &.typ-campaigndetail {
        padding: 0;
    }

    &.typ-med {
        max-width: 80%;
    }

}

@media only screen and (max-width:767px) {
    .bs-card {
        max-width: 100%;
    }
}