.bs-btn{
    background-color: $clr-theme;
    min-width: 130px;
    &.typ-large{
        min-width: 180px;
    }
    &.typ-medium{
        min-width: 151px;
    }
    &.typ-white{
        background-color: #ffffff;
        color: $clr-theme;
        box-shadow: rgba(0, 0, 0 ,0.15) 0px 0px 10px;
    }
}
@media only screen and (max-width:$tablet-breakpoint) {
    .bs-btn{
        &.typ-login{
            background-color: #ffffff;
            color: $clr-theme;
        }
    }
}