.bs-model{
    // .ReactModal__Content{
    // top: 50%;
    //   left: 50%;
    //   right: auto;
    //   bottom: auto;
    //   margin-right: -50%;
    //   transform: translate(-50% -50%);
    // background: transparent!important;
    // position: absolute;
    // inset: 50% auto auto 50%;
    // &.ReactModal__Content--after-open{
    //     background-color: transparent!important;
    // }
    // // border: 1px solid rgb(204, 204, 204);
    // // background: rgb(255, 255, 255);
    // // overflow: auto;
    // // border-radius: 4px;
    // // outline: none;
    // // padding: 20px;
    // // margin-right: -50%;
    // // transform: translate(-50%, -50%);
    // }
}